<section id="add-product" class="container">
    <div class="form-wrap">
      <h1>Add A Product</h1>
      <p>Your New Product Will Be Added To Your Company Catalog. Customers Will Then Be Able To Order This Product</p>
      {{#each errors}}
        <div class="error">
          <p>{{text}}</p>
        </div>
      {{/each}}
      <form action="/gigs/add-product" method="POST">
        <div class="input-group">
          <label for="name">Product Name</label>
          <input type="text" name="name" id="name" class="input-box" placeholder="eg. I-Beam,Sheet Metal, Body Panel"
            maxlength="100" value={{name}}>
        </div>
        <div class="input-group">
          <label for="minL">Minimum Length</label>
          <input type="text" name="minL" id="minL" class="input-box" placeholder="Minimum Product Length"
          maxlength="100" value={{minL}}>
        </div>
        <div class="input-group">
          <label for="minW">Minimum Width</label>
          <input type="text" name="minW" id="minW" class="input-box" placeholder="Minimum Product Width"
          maxlength="100" value={{minW}}>
        </div>
        <div class="input-group">
          <label for="minT">Minimum Thickness</label>
          <input type="text" name="minT" id="minT" class="input-box" placeholder="Minimum Product Thickness"
          maxlength="100" value={{minT}}>
        </div>
        <input type="submit" value="Add Product" class="btn btn-reverse">
      </form>
    </div>
  </section>